.container {
    width: 100vw;
    height: calc(100vh - 4rem - 60px);
    padding-top: 5%;
    padding-bottom: 5%;
}

fieldset, legend {
    all: revert;
}

fieldset.scheduler-border {
    border: 1px solid black !important;
    padding: 0 1.2em 1.2em 1.2em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    background-color: rgba(255, 255, 255, .3);
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: inherit; 
    margin-bottom: 20px !important;
    background-color: black;
    color: rgba(255, 255, 255, .3);
    border: 1px solid black;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
}

.widthInputAccount {
    margin-left: 5px;
    width: 80% !important;
}

.borderInputPwd {
    border-radius: 8px;
}