/* Container du dashboard */

.dashboard-fullContainer {
    width: 100vw;
    height: calc(100vh - 156px);
    padding: 5px;
}

.dashboard-container {
    width: 100%;
    height: 100%;
}

.dashboard-title {
    width: 100%;
    height: 10%;    
    background-color: #cacaca;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-menu {
    width: 100%;
    height: 10%;
    background-color: #cacaca;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard-menu input[type=submit] {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.btn {
    color: #cacaca;
    background-color: #5a5a5a;
    padding: 0;
    font-size: 0.9rem;
}

.dashboard-window {
    width: 100%;
    height: 80%;
    margin: 0;
}

.dashboard-main {
    width: 100%;
    height: 100%;
    background-color: #5a5a5a;
}

.dashboard-subTitle {
    color: #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 2px;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    overflow-x: auto; 
    overflow-y: auto;
    height: 92%;
}

.dashboard-content > div {
    margin: 2px;
    background: powderblue;
    padding: 5px;
}

.dashboard-content > div:nth-child(5n+2) {
    background: lemonchiffon;
}

.dashboard-content > div:nth-child(5n+3) {
    background: green;
}

.dashboard-content > div:nth-child(5n+4) {
    background: grey;
}

.dashboard-content > div:nth-child(5n+5) {
    background: purple;
}
