/* Container du dashboard */

.dashboard-fullContainer {
    width: 100vw;
    height: calc(100vh - 156px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    width: 95%;
    height: 95%;
    background-color: #5a5a5a;
}

.dashboard-title {
    width: 100%;
    height: 5%;    
    background-color: #cacaca;
    border: 1px solid #5a5a5a ;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-menu {
    width: 100%;
    height: 20%;
    background-color: #cacaca;
    border-bottom: 1px solid #5a5a5a ;
    border-left: 1px solid #5a5a5a ;
    border-right: 1px solid #5a5a5a ;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.dashboard-menu input[type=submit] {
    /* width: 20%; */
    flex: 1;
    padding: 5px;
    /* flex-grow: 1; */
}

.dashboard-window {
    width: 100%;
    height: 75%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 95%;
    height: 95%;
    background-color: #cacaca;
}