/*---------- Partie du Main ----------*/

.container {
    width: 100vw;
    height: calc(100vh - 125px);
    padding-top: 5%;
    padding-bottom: 5%;
}

.frame {
    height: 100%;
    width: 90%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s ease;
}

.frame-long {
    height: 100%;
}

.frame-short {
    height: 100%;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.nav {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    opacity: 1;
    transition: all .5s ease;
}

.formContainer {
    height: calc(90% - 80px);
    width: 100%;
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0;
}

.links {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff;
}

.signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #838383;
    transition: all .25s ease;
    cursor: pointer;
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.signup-active a {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    border-bottom: solid 1px #838383;
    padding-bottom: 10px;
}

.signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    transition: all .25s ease;
}

.form-signin {
    width: 100%;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    transition: opacity .5s ease, transform .5s ease;
}

.form-signin-left {
    transform: translateX(-400px);
    opacity: .0;
}

.form-signup {
    width: 100%;
    height: 375px;
    font-size: 12px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    transition: all .5s ease;
}


@media screen and (min-width: 756px) {
    .frame {
        height: 600px;
        width: 420px;
    }

    .frame-long {
        height: 615px;
    }

    .form-signin {
        width: 430px;
        height: 375px;
    }

    .form-signup {
        width: 430px;
        height: 375px;
    }
}


.form-signup-left {
    transform: translateX(-399px);
    opacity: 1;
}

.form-signup-down {
    top: 0px;
    opacity: 0;
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: .0;
    transition: all .8s .4s ease;
}

.success-left {
    transform: translateX(-406px);
    opacity: 1;
}

.successtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
}

#check path {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255, 255, 255, .0);
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255, 255, 255, .03);
}

.form-signin input,
.form-signup input {
    color: #ffffff;
    font-size: 13px;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, .7);
    display: block;
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease;
}

.btn-signup {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(155, 155, 155);
    cursor: pointer;
}

.btn-signin {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-top: 23px;
    background-color: rgb(155, 155, 155);
    cursor: pointer;
}

.forgot {
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: solid 1px rgba(255, 255, 255, 0.623);
    color: rgba(255, 255, 255, 0.623);
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}

.forgot-left {
    transform: translateX(-400px);
    opacity: 0;
}

.forgot-fade {
    opacity: 0;
}

.forgot a:hover {
    color: rgba(255, 255, 255, 0.692);
}

/* Partie de la modal, retrouvez votre mot de passe */

.modal-content {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(155, 155, 155) !important;
}

.modal.show {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pswInputModal {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.validConfirm {
    text-align: center;
    width: 100px;
    height: 100px;
}