/*---------- Partie du Footer ----------*/

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 60px;
    color: white;
    width: 100%;
}

.col a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.col a:hover {
    color: #817C7C;
}

.underName {
    font-size: 0.8rem;
}

.col img {
    filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(201deg) brightness(108%) contrast(101%);
    width: 20px;
}