/*---------- Partie du Footer ----------*/

.footer {
    background-color: black;
    height: 100px;
    color: #cacaca;
}

.col-6 a {
    color: #cacaca;
    text-decoration: none;
}

.col-6 img {
    filter: invert(74%) sepia(14%) saturate(0%) hue-rotate(67deg) brightness(103%) contrast(103%);
    width: 2em;
}