/*---------- Partie du Footer ----------*/

footer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 60px;
    color: white;
    bottom: 0;
    width: 100%;
}

.col a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.col a:hover {
    color: #817C7C;
}