/*---------- Partie du Footer ----------*/

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 60px;
    color: white;
    width: 100%;
}

.col a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.col a:hover {
    color: #817C7C;
}