/*---------- Partie du Main ----------*/

.container-form {
    width: 100vw;
    height: calc(100vh - 3.5rem - 100px);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 480px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.514);
    overflow: hidden;
    transition: all .5s ease;
    background: #CACACA;
}

.nav-form {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    opacity: 1;
    transition: all .5s ease;
}

.formContainer {
    height: calc(90% - 80px);
    width: 100%;
}

.links {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.links li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff;
}

.signin-active a {
    padding-bottom: 5px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #838383;
    transition: all .25s ease;
    cursor: pointer;
}

.signin-inactive a {
    padding-bottom: 0;
    font-size: 1.0rem;
    color: #9b9b9b;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.signup-active a {
    padding-bottom: 5px;
    font-size: 1.2rem !important;
    color: black !important;
    text-decoration: none;
    border-bottom: solid 1px #838383;
    cursor: pointer;
}

.signup-inactive a {
    font-size: 1.0rem;
    color: #9b9b9b;
    text-decoration: none;
    transition: all .25s ease;
    cursor: pointer;
}

.form-signin {
    width: 100%;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    transition: opacity .5s ease, transform .5s ease;
}

.form-signin-left {
    transform: translateX(-400px);
    opacity: .0;
}

.form-signup {
    width: 100%;
    height: 375px;
    font-size: 12px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    transition: all .5s ease;
}

@media screen and (min-width: 756px) {
    .frame {
        height: 600px;
        width: 420px;
    }
    .form-signin {
        width: 430px;
        height: 375px;
    }
    .form-signup {
        width: 430px;
        height: 375px;
    }
}

.form-signup-left {
    transform: translateX(-399px);
    opacity: 1;
}

.form-signup-down {
    top: 0px;
    opacity: 0;
}

.form-signin input,
.form-signup input {
    color: black;
    font-size: 13px;
}

.btn-signin {
    margin-top: 40px;
}

.btn-signup {
    margin-top: 15px;
}

input[type=submit] {
    font-size: 15px;
    color: #CACACA;
    background-color: #5a5a5a;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 35px;
    border-radius: 20px;

    cursor: pointer;
    border: 0 !important;
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    font-size: 0.9rem !important;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: #5a5a5a;
    display: block;
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease;
}

#userInputModal {
    margin-bottom: 20px;
}

.forgot {
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: solid 1px #5a5a5a;
    color: #5a5a5a;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}

.forgot-left {
    transform: translateX(-400px);
    opacity: 0;
}

.forgot-fade {
    opacity: 0;
}

.forgot a:hover {
    color: rgba(255, 255, 255, 0.692);
}

/* Input mot de passe avec logo pour cacher ou montrer les caractères */

.input-icon-container {
    position: relative;
    margin-bottom: 20px;
}

.input-icon-container input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

input:focus {
    outline: none !important;
    border: none;
}

.input-icon-container .fa-regular {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 17px;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Partie de la modal, retrouvez votre mot de passe */

.modal-content {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(155, 155, 155) !important;
}

.modal-title {
    font-size: 1.2rem;
    padding: 5px;
}

.modal.show {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pswInputModal {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.validConfirm {
    text-align: center;
    width: 80px;
    height: 80px;
}

/* Error messages */

.error {
    color: red;
    padding-left: 5px;
    font-size: 0.9rem;
}