/* Font */

@font-face {
    font-family: "metalFont";
    src: url("../font/MetalMania-Regular.ttf");
}

/*---------- Initialisation du HTML ----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #cacaca;
    width: 100vw;
    height: 100vh;
    padding-top: 3.5rem;
}

/*---------- Partie du Header ----------*/

.navbar-toggler-icon {
    width: 2.0rem;
    height: 2.0rem;
    padding: 2px;
    background-image: url("../img/ICO/menu.png");
    filter: invert(74%) sepia(14%) saturate(0%) hue-rotate(67deg) brightness(103%) contrast(103%);
}

.navbar-toggler {
    border: 0 !important;
}

.navbar {
    background-color: black;
    z-index: 99;
    height: 58px;
}

.canvasLink {
    font-size: 1.2rem !important;
    text-decoration: none !important;
    color: #cacaca;
    margin: 5px;
}

.dropdown-item {
    color: #cacaca;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: black !important;
}

.logoSite {
    width: 3.0rem;
    height: 3.0rem;
    padding: 3px;
    object-fit: contain;
    object-position: center center;
}

h1 {
    text-align: center;
    font-family: "metalFont", serif;
    font-size: 1.0rem !important;
    width: 50%;
    color: #cacaca !important;
}

.accountDisp {
    display: none;
}

.sizeAccountLogo {
    width: 30px;
    height: 30px;
}

.accordion-header {
    padding-right: 0 !important;
}

.accordion-header button, .dropdown-center button {
    color: #cacaca !important;
}

.accordion-body {
    padding-right: 0px !important;
}

.accordion-body a {
    margin-right: 0 !important;
    font-size: 1.0rem !important;
}

.offcanvas-end {
    width: 60% !important;
}

/* Changer type de menu Mobile/Desktop */

.accordion-item {
    border-bottom: 0 !important;
    background-color: transparent !important;
    margin-left: 0;
    margin-right: 0;
}

.title-mobile-desktop {
    margin: 0;
    font-size: 1.5rem !important;
    white-space: nowrap;
}

.navbar-mobile {
    display: block;
}

.navbar-desktop {
    display: none;
}

@media (min-width: 768px) { 
    .offcanvas-end {
        width: 30% !important;
    }
}

@media (min-width: 992px) { 
    .accordion-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-mobile-desktop {
        margin: 0;
        font-size: 1.8rem !important;
        white-space: nowrap;
        text-align: start;
        padding-left: 10px;
    }

}

/*---------- CSS bouton login et logo compte ----------*/

.connectButton {
    margin: 5px 0 5px 5px;
    display: inline;
    height: 2.5rem;
    width: 7rem;
    border-radius: 10px;
    background-color: #cacaca;
    box-shadow: inset 0px 1px 0px rgba(63, 63, 63, 0.8), 0px 1px 3px rgba(56, 56, 56, 0.3);
    border-color: #111;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.connectButton a {
    color: black;
    text-decoration: none;
}

.connectButton:hover {
    box-shadow: 0 0 30px 0 #000000 inset, 0 0 20px 2px #000000;
    border: 3px solid #000000;
}

.usernameText {
    color: #cacaca;
    font-size: 1.2rem;
    font-weight: bold;
}

.loginPicture {
    filter: invert(76%) sepia(0%) saturate(5526%) hue-rotate(360deg) brightness(106%) contrast(86%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

/*---------- Dropdown Desktop smooth effect ----------*/

.dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    opacity: 0;
}

.dropdown-menu.show {
    opacity: 1;
}