/*---------- Partie du Main ----------*/

/* Message d'accueil */

.homePage {
    width: 100vw;
    height: calc(100vh - 3.4rem);
    position: relative;
    padding: 0;
    background-color: black;
}

.carousel, .carousel-inner, .carousel-item {
    height: 100% !important;
    width: 100% !important;
}

.carousel-item img {
    height: 100% ;
    width: 100% ;
    object-fit: cover;
    object-position: center center;
}

.welcomeFirst {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 10vh;
    width: 80%;
    z-index: 2;
}

.welcomeFirst p,
.welcomeLast p {
    color: #eeeded;
    background-color: #2e2e2e !important;
    opacity: 0.7;
    margin-bottom: 0;
    padding: 10px;
    font-size: calc(0.8rem + 0.5vw);
}

.welcomeLast {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 10vh;
    width: 80%;
    z-index: 2;
}

.welcomeLast img {
    width: 2.0em;
    filter: invert(74%) sepia(14%) saturate(0%) hue-rotate(67deg) brightness(103%) contrast(103%);
}

/* Format des actualités page d'accueil */

main h2 {
    font-family: "metalFont", serif;
    font-size: 2.0rem;
    color: #5a5a5a;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #5a5a5a;
    width: fit-content;
}

article h3 {
    font-family: "metalFont", serif;
    font-size: 1.5rem;
    color: #5a5a5a;
    padding-left: 20px;
}

.myArticleBody {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: rgba(255, 255, 255, .2);
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.articleTitle {
    font-size: 1.0rem !important;
    color: #5a5a5a;
    padding: 0 !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bandPicture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

center iframe{
    width: 90% !important;
    height: fit-content !important;
}

/* Animation d'affichage des informations */

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}