/* Font */

@font-face {
    font-family: "metalFont";
    src: url("../font/MetalMania-Regular.ttf");
}

/*---------- Initialisation du HTML ----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*---------- Partie du Header ----------*/

.navbar {
    background-color: black;
}

.navbar-toggler-icon {
    /*width: 5rem !important;
    height: 5rem !important;*/
}

.nav-link {
    color: grey !important;
    /*font-size: 3rem !important;*/
}

.nav-link:hover {
    color: white !important;
}

.logoSite {
    width: 4rem;
    /*margin: 10px;*/
}

.connectButton {
    /*height: 5rem;*/
    width: 6rem;
    border-radius: 10px;
    /*font-size: 3rem;*/
    background-color: white;
    box-shadow: inset 0px 1px 0px rgba(63, 63, 63, 0.8), 0px 1px 3px rgba(56, 56, 56, 0.3);
    border-color: #111;
    color: black;
    /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);*/

    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.connectButton:hover {
    box-shadow: 0 0 30px 0 #000000 inset, 0 0 20px 2px #000000;
    border: 3px solid #000000;
}



h1 {
    text-align: center;
    font-family: "metalFont", serif;
    font-size: 1.5rem !important;
    margin-top: 80px !important;
    padding: 10px;
    color: black !important;
}

@media screen and (min-height: 576px) {}

@media screen and (min-height: 992px) {}

@media screen and (min-height: 1200px) {}


/*---------- Partie du Main ----------*/

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: white;
}

.carouselAnnounce {
    background: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    color: white;
    text-decoration: none;
    overflow: hidden;
    transition-property: color;
    transition-delay: 0.15s;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border: 0px black !important;
    border-radius: 0px !important;
}

.card.hover {
    color: white;
    transition-delay: 0;
}

.card,
.card__image,
.card__image::after,
.card__author,
.card__body,
.card__foot,
.card__border {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
}

.card__head {
    position: relative;
    padding-top: 70%;
}

.card__author {
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    color: white;
    transition-property: transform;
    transition-delay: 0.15s;
}

.card.hover .card__author {
    transition-delay: 0;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url('../img/Actu/1/album_mh.jpg');
    transform-origin: top center;
    transition-property: transform;
    transition-delay: 0.15s;
}

.card__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: linear-gradient(30deg, rgba(26, 42, 99, 0.85), rgba(26, 42, 99, 0.5));
    transition-property: opacity;
    transition-delay: 0.15s;
}

.card.hover .card__image {
    transition-delay: 0;
}

.card.hover .card__image::after {
    opacity: 1;
    transition-delay: 0;
}

.card__body {
    position: relative;
    padding: 2em;
    background: black;
    transition-property: transform;
    transition-delay: 0.15s;
}

.card.hover .card__body {
    transition-delay: 0;
}

.card__headline {
    font-weight: 400;
    margin: 0 0 0.8em;
}

.card__text {
    line-height: 1.5;
    margin: 0;
    opacity: 0.8;
}

.card__foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em 2em;
    opacity: 0;
    transition-property: opacity;
}

.card.hover .card__foot {
    opacity: 1;
    transition-delay: 0.15s;
}

.card__link {
    color: currentColor;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.card__border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleY(0);
    transition-property: transform;
}

.card.hover .card__border {
    transform: none;
    transition-delay: 0.15s;
}

.author {
    display: flex;
    align-items: center;
}

.author__image {
    flex-shrink: 0;
    margin-right: 1em;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;
}

.author__content {
    display: grid;
    grid-gap: 0.4em;
    font-size: 0.9em;
}

.author__header {
    margin: 0;
    font-weight: 600;
}

.author__subheader {
    margin: 0;
    opacity: 0.8;
}



/*---------- Partie du Footer ----------*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}