/*---------- Partie du Main ----------*/

.carouselContainer {
    height: calc(100vh - 4rem - 60px);
    display: flex;
    align-items: center;
}

.carousel-inner {
    border-radius: 10px !important;
}

.carousel-indicators {
    margin-bottom: 0.1rem !important;
}

h3 {
    font-family: "metalFont", serif;
    font-size: 2.5rem;
    color: black;
}

a:hover {
    color: white !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    color: white;
    text-decoration: none;
    overflow: hidden;
    transition-property: color;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border: 0px black !important;
    border-radius: 0px !important;
}

.card__head {
    position: relative;
    padding-top: 70%;
}

.card__author {
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    color: white;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transform-origin: top center;
}

.card__body {
    height: 220px;
    position: relative;
    padding: 2em;
    background: black;
    transition-property: transform;
    transition-delay: 0.15s;
}

.card__headline {
    font-weight: 400;
    margin: 0 0 0.8em;
}

.card__text {
    line-height: 1.5;
    margin: 0;
    opacity: 0.8;
}

.card__foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em 2em;
    opacity: 0;
    transition-property: opacity;
}

.author {
    display: flex;
    align-items: center;
}

.author__image {
    flex-shrink: 0;
    margin-right: 1em;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}

.author__content {
    display: grid;
    grid-gap: 0.4em;
    font-size: 0.9em;
}

.author__header {
    margin: 0;
    font-weight: 1000;
}

.author__subheader {
    margin: 0;
    opacity: 0.8;
    font-weight: 800;
}