/* SUUUUURPRISE */

#surprise, #surprise2 {
    position: absolute;  
    display: none;
    top: -30vh;
    left: -30vw;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 2;
}
