.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    flex: 1;
    align-items: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 10%;
    text-align: center;
    margin-top: 10px;
}

.logoSite {
    max-height: 100%;
    max-width: 100%;
}

.connexion {
    width: 10%;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: #6D90C6;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
}